@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: lab(97.68% -0.0000298023 0.0000119209);
  --foreground: lab(3.04863% 0 0);
  --card: lab(100% 0 0);
  --card-foreground: lab(3.04863% 0 0);
  --popover: lab(100% 0 0);
  --popover-foreground: lab(3.04863% 0 0);
  --primary: lab(23.421% 7.57155 -41.9045);
  --primary-foreground: lab(97.68% -0.0000298023 0.0000119209);
  --secondary: lab(94.0744% 3.37866 0.0330448);
  --secondary-foreground: lab(3.04863% 0 0);
  --muted: lab(90.72% 0.0000298023 -0.0000119209);
  --muted-foreground: lab(42% 0 0);
  --accent: lab(37.5796% -28.8687 60.364);
  --accent-foreground: lab(97.68% -0.0000298023 0.0000119209);
  --destructive: lab(54.7373% 72.8962 46.2826);
  --destructive-foreground: lab(97.68% -0.0000298023 0.0000119209);
  --border: lab(90.72% 0.0000298023 -0.0000119209);
  --input: lab(95.36% 0 0);
  --ring: lab(23.421% 7.57155 -41.9045);
  --chart-1: lab(23.421% 7.57155 -41.9045);
  --chart-2: lab(37.5796% -28.8687 60.364);
  --chart-3: lab(67.0817% -53.0885 -0.365746);
  --chart-4: lab(46.4257% 50.1008 76.9592);
  --chart-5: lab(57.1286% 49.3943 -19.8743);
  --radius: 0.625rem;
  --sidebar: lab(97.68% -0.0000298023 0.0000119209);
  --sidebar-foreground: lab(3.04863% 0 0);
  --sidebar-primary: lab(23.421% 7.57155 -41.9045);
  --sidebar-primary-foreground: lab(97.68% -0.0000298023 0.0000119209);
  --sidebar-accent: lab(37.5796% -28.8687 60.364);
  --sidebar-accent-foreground: lab(97.68% -0.0000298023 0.0000119209);
  --sidebar-border: lab(90.72% 0.0000298023 -0.0000119209);
  --sidebar-ring: lab(23.421% 7.57155 -41.9045);
}

.dark {
  --background: lab(1.5609% 0 0);
  --foreground: lab(94.2% 0 0);
  --card: lab(3.04863% 0 0);
  --card-foreground: lab(94.2% 0 0);
  --popover: lab(3.04863% 0 0);
  --popover-foreground: lab(94.2% 0 0);
  --primary: lab(57.9024% 6.91587 -63.1562);
  --primary-foreground: lab(1.5609% 0 0);
  --secondary: lab(12.8744% 3.36213 0.0342727);
  --secondary-foreground: lab(94.2% 0 0);
  --muted: lab(13% 0 0);
  --muted-foreground: lab(53.6% 0 0);
  --accent: lab(49.4637% -34.7289 74.1654);
  --accent-foreground: lab(1.5609% 0 0);
  --destructive: lab(54.7373% 72.8962 46.2826);
  --destructive-foreground: lab(94.2% 0 0);
  --border: lab(13% 0 0);
  --input: lab(7.22637% -0.0000149012 0);
  --ring: lab(57.9024% 6.91587 -63.1562);
  --chart-1: lab(57.9024% 6.91587 -63.1562);
  --chart-2: lab(49.4637% -34.7289 74.1654);
  --chart-3: lab(73.1324% -60.3564 -0.406969);
  --chart-4: lab(52.0647% 55.7774 89.7623);
  --chart-5: lab(62.6397% 55.502 -22.3412);
  --sidebar: lab(3.04863% 0 0);
  --sidebar-foreground: lab(94.2% 0 0);
  --sidebar-primary: lab(57.9024% 6.91587 -63.1562);
  --sidebar-primary-foreground: lab(1.5609% 0 0);
  --sidebar-accent: lab(49.4637% -34.7289 74.1654);
  --sidebar-accent-foreground: lab(1.5609% 0 0);
  --sidebar-border: lab(13% 0 0);
  --sidebar-ring: lab(57.9024% 6.91587 -63.1562);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
